/* SIGN-IN-SCREEN */

.sign-in-screen {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: "Impact";
}

.sign-in-screen__logo {
  margin-top: 3px;
}

.sign-in-screen__content {
  text-transform: uppercase;
}

.button {
  background-color: transparent;
  text-transform: uppercase;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: "Impact";
}
/* ------------------------------------------------------------------ */

.navigation {
  width: 100%;
  background-color: Tomato;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.navigation__link {
  color: white;
  padding-right: 1em;
  text-decoration: none;
  font-family: "Impact", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info__profile-pic {
  width: 50px;
}

.result-wrapper--image {
  width: 100%;
}

.result-wrapper--title {
  font-size: 0.5em;
}
.wrapper {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}
.square {
  bottom: 0;
  left: 0;
  background-color: black;
  width: 50px;
  height: 50px;
  border: solid 3px white;
  position: absolute;
}
.stars--container {
  bottom: 190px;
  width: 100%;
  position: relative;
  color: transparent;
  justify-content: space-evenly;
  display: flex;
}

.fa-star {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.result-wrapper:hover .selected {
  color: gold;
}

.score {
  color: white;
  position: absolute;
  bottom: 18px;
  left: 22px;
  font-family: "Impact", sans-serif;
}
.result-wrapper {
  width: 20%;
  padding: 0.5em;
  position: relative;
}

.result-wrapper:hover .stars--container {
  /* display: flex; */
  color: white;
}

.content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 91%;
  width: 94%;
  left: 8px;
  top: 8px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.result-wrapper:hover .content-overlay {
  opacity: 1;
}
